@{
    ViewData["Title"] = "How WE-Translate Works";
}

<style>
    html {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 20px;
        font: serif;
        vertical-align: baseline;
    }

    body {
        font: 80% georgia, sans-serif;
        line-height: 1;
        color: black;
        background-color: lightblue;
        /*background-image: url("https://www.vpr.org/sites/vpr/files/styles/x_large/public/201708/Languages-istock-Qvasimodo-20170803.png");*/
    }

    p {
        margin-top: 0;
        text-align: justify;
        letter-spacing: 1px;
        line-height: 1.6;
    }

    h1 {
        font: sans-serif;
        letter-spacing: 1px;
        margin-bottom: 0;
        color: black;
        margin-top: 10px;
        display: block;
        width: 219px;
        height: 87px;
        float: left;
        background: rgba(0, 41, 128, 0.3);
    }

    footer {
        color: black;
        background-color: whitesmoke;
    }

    #highlight {
        background-color: transparent;
        text-align: center;
        width: 100%;
    }

    h3.fontCustom {
        font: Impact, sans-serif;
        color: red;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }

</style>

<!DOCTYPE html>

<html>
    <body>
        <main>
            <header>
                <div>
                    <h2 id="highlight">How WE-Translate Works</h2>
                    <p>
                        Find, assign, manage and pay translators from one place.
                    </p>
                </div>

                <p>
                    Take the guesswok out of trying to figure out what another person is saying. Get someone who understands that language to help
                    in the communication process.
                </p>
                <p>
                    We hold every translator to a strict quality assurance policy.
                </p>

            </header>
            <div class="img-holder mt-30 mt-md-0">
                <div class="img-left">
                    <div>
                        <img data-qa="img-1-mobile" src= "https://www.vpr.org/sites/vpr/files/styles/x_large/public/201708/Languages-istock-Qvasimodo-20170803.png"> 
                    </div>
                </div>
            </div>

            <footer>
                    Author: Norman Likalamu&copy;<br>
                    <a href="mailto:m.likalamu@yahoo.com">m.likalamu@yahoo.com</a>
            </footer>
        </main>
    </body>
</html>