@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<style>
    body {
        font: 100% georgia, sans-serif;
        color: black;
        background-color: lightblue;
    }

    p {
        margin-top: 0;
        text-align: justify;
        letter-spacing: 1px;
        line-height: 1.6;
    }

</style>
<body>
    <p>In general, most privacy laws require you to inform your users about the following:</p>

    <p>Your name (or business name), location, and contact information</p>

    <p>What information you’re collecting from them

        (including names, email addresses, IP addresses, and any other information)</p>

    <p>What methods you are using to collect their information, e.g. cookies</p>

    <p>The purpose for collecting this information</p>

    <p>How you’re keeping their information safe</p>

    <p>
        Whether or not it’s optional for them to share that information,

        how they can opt-out, and the consequences of doing so
    </p>

    <p>
        Any third-party services you’re using to collect, process,

        or store that information (such as an e-mail newsletter service, or advertising network)
    </p>

    <p>
        Following a GDPR privacy policy templates like the above can be a help on the way,

        but using a GDPR privacy policy generator (as we link to below) can be dangerous.
    </p>

    <p>You must be mindful of getting all of the relevant and required information about your website into your GDPR privacy policy.</p>
</body>
