@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<style>
    .form {
        width: 100%;
        margin: auto;
        max-width: 525px;
        min-height: 670px;
        position: relative;
        padding: 90px 70px 50px 70px;
        background: rgba(75, 22, 221, 0.60);
    }

    .background {
        /*background-image: url("https://www.vpr.org/sites/vpr/files/styles/x_large/public/201708/Languages-istock-Qvasimodo-20170803.png");*/
        background-color: lightblue;
    }
</style>

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>