@page
@model RegisterModel
@{
    ViewData["Title"] = "We-Translate";
}
<style>
    .form {
        width: 100%;
        margin: auto;
        max-width: 525px;
        min-height: 670px;
        position: relative;
        padding: 90px 70px 50px 70px;
        background: rgba(75, 22, 221, 0.60);
    }
    .background { 
        /*background-image: url("https://www.vpr.org/sites/vpr/files/styles/x_large/public/201708/Languages-istock-Qvasimodo-20170803.png");*/
        background-color: lightblue;
    }

</style>

<body class="background">
    <div class="text-center">
        <h2 class="display-4">@ViewData["Title"]</h2>
    </div>

    <div class="row">
        <div class="form">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Firstname"></label>
                    <input asp-for="Input.Firstname" class="form-control" />
                    <span asp-validation-for="Input.Firstname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Lastname"></label>
                    <input asp-for="Input.Lastname" class="form-control" />
                    <span asp-validation-for="Input.Lastname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Phone"></label>
                    <input asp-for="Input.Phone" class="form-control" />
                    <span asp-validation-for="Input.Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.PreferredContact"></label>
                    <input asp-for="Input.PreferredContact" class="form-control" />
                    <span asp-validation-for="Input.PreferredContact" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Pay Rate">Pay Rate</label>
                    <select id="Pay Rate">
                        <option value="hourly">Hourly</option>
                        <option value="session">Per Session</option>
                    </select>
                    <input for="Pay Rate" required autocomplete="off" />
    @*<span asp-validation-for="Input.payrate " class="text-danger"></span>*@
    </div>

                <div>
                    <label for="languages">Please Select language(s) you can translate: &nbsp; </label><br>
                    <input type="checkbox" id="Spanish" name="Spanish" value="Spanish">
                    <label for="Spanish"> Spanish</label> &nbsp;
                    <input type="checkbox" id="French" name="French" value="French">
                    <label for="French"> French</label> &nbsp;
                    <input type="checkbox" id="Swahili" name="Swahili" value="Swahili">
                    <label for="Swahili"> Swahili</label> &nbsp;
                    <input type="checkbox" id="Mandarin" name="Mandarin" value="Mandarin">
                    <label for="Mandarin"> Mandarin</label>
                </div>
                <br>

                <div>
                    <input type="checkbox" id="Terms" value="Terms" required autocomplete="off">
                    <label for="Terms">Accept Terms of Use <a asp-controller="Home" asp-action="Privacy">Terms</a></label>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Register</button>
                <br>
                <br />
                <div class="form-group">
                    <p>
                        <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Already Have an account? Login</a>
                    </p>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>

@*@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@
